.separator {
    position: absolute;
    width: 1px;
    background-color: #B4B4B4;
    margin: 2px -4px;
    height: 33px;
    margin-left: -185px;
    margin-top: -1px;
}

.mobileDropDown {
    padding-left: 10px;
}

.cp-input-with-icon.mobile:hover {
    border: 1.5px solid #00a7cf;
}

.floating-label-group {
    position: relative;
    /* No need for padding-top if you are positioning the label with JS and class changes */
}

.address-border.filled,
.address-border.active {
    border-color: #0196B9;
}

.address-border {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.address-border:focus {
    border-color: #00a7cf; /* Highlight color when focused */
}

/* Change the focus color for the input field and dropdown selection */
.address-border:focus:not(.empty),
.cp-input-with-dropdown select:focus:not(.empty) {
    border-color: #0196B9;
}



.floating-label-group label {
    position: absolute;
    left: 10px;
    top: 0;
    /* Initially set to 0 */
    transform: translateY(0);
    /* Initially set to 0 */
    transition: all 0.2s ease;
    color: #aaa;
    /* Placeholder color */
    pointer-events: none;
    background-color: white;
    /* Ensures the label has a background */
    padding: 0 3px;
    /* Provides padding so the background doesn't cut off */
    font-size: 14px;
    /* Initially set font size */
}


/* Style for floating label when input is not empty */
.floating-label-group input:not(.empty)+label,
.floating-label-group select:not(.empty)+label {
    top: -8px;
    left: 10px;
    transform: translateY(0);
    font-size: 12px;
    /* Adjust font size as needed */

    z-index: 10;
    border-color: #0196B9;
    ;
}

/* Style for input with data (border color is #0196B9) */
.address-border.has-data {
    border-color: #0196B9;
}

.uploaded-logo {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.upload-btn {
    display: flex;
    flex-direction: column;
    /* Stack the elements vertically */
    align-items: center;
    /* Center-align them horizontally */
    margin-top: 8px;
    /* Add some spacing between the Apple logo and upload section */
    background-color: white !important;
    border: none;
}

.upload-section {
    display: flex;
    flex-direction: column;
    /* Stack the elements vertically */
    align-items: center;
    /* Center-align them horizontally */
}

.upload-btn img {
    margin-bottom: 5px;
    /* Add some spacing between the upload icon and the text */
    margin-top: 5px;
    margin-right: 3px;
}

.upload-btn:hover {
    color: #00a7cf;
}

.upload-btn i {
    margin-right: 8px;
    /* Adds some space between the icon and text */
}

/* If you need to adjust the alignment of the icon, you might add something like this: */
.upload-btn i {
    vertical-align: middle;
}

.fa-apple:before {
    content: "\f179";
    font-size: 60px;
    color: #B4B4B4;
}

.upload-btn i.fab.fa-apple {
    font-size: 24px;
    /* Adjust this value to your desired size */
    margin-right: 8px;
    /* Adjust spacing between the apple icon and the next icon */
}

.cp-company-container {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.cp-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    flex: 0 0 70%;
}

.cp-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 40px;
}

.cp-row>input,
.cp-row>.cp-input-with-icon,
.cp-row>.cp-input-with-dropdown {
    flex: 1;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cp-input-with-icon {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

.cp-input-with-icon input {
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    background: #0195B9;
    color: white;
    border-left: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}

.cp-label-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 120px;
    height: 140px;
    flex: 0 0 auto;
    text-align: center;
    transition: border-color 0.3s;
}

.cp-label-box:hover {
    border: 2px solid #00a7cf;
}

.cp-input-with-dropdown {
    position: relative;
    width: 100%;
}

.cp-input-with-dropdown select {
    width: 100%;
    padding: 8px 30px 8px 8px;
    /* padding added to the right to ensure text doesn't overlap with icon */
    box-sizing: border-box;
    border-radius: 4px;

    appearance: none;
    font-size: small;
}

.dropdown-icon-right {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: rgb(105, 102, 102);
    border: none;
    cursor: pointer;
}

.cp-input-with-icon.mobile {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.country-code {
    background: #0195B9;
    color: white;
    padding: 8px;
}

.dropdown-icon-left {
    background: #0195B9;
    color: white;
    border-right: 1px solid #ccc;
    padding: 8px;
}

.cp-input-with-icon.mobile input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
    padding-left: 8px;
}

.dropdown-icon-right i {
    pointer-events: none;
    /* Ensure icon does not block dropdown selection */
}

/* Style for input and select without data */
.address-border.empty {
    border-color: #ccc;
}

/* Style for floating label when input is empty */
.floating-label-group input.empty+label {
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    /* Adjust font size as needed */
    color: #aaa;
}

.floating-label-group input:placeholder-shown + label {
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
  
  .floating-label-group input:not(:placeholder-shown) + label,
  .floating-label-group input:focus + label {
    top: -8px; /* Adjust this value so the label floats above correctly */
    transform: translateY(0%);
    font-size: 12px;
    color:#0196B9;
  }
  


  /* This will position the label in the center of the select when there is no value */
/* .floating-label-group select + label {
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
   */
  /* This will float the label when the select is focused or has a value */
  .floating-label-group select:focus + label,
  .floating-label-group select:not([value=""]) + label {
    top: -8px; 
    transform: translateY(0%);
    font-size: 12px;
    color: #0196B9;
  }
  

  